[Unit]
Description=TimeTable bot
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/ttbot/main.py

[Install]
WantedBy=multi-user.target